@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: #515158;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
 
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  background: white;
  height: 16vh;
  /* padding: 0px;
    position: sticky;
    top: 0px; */
}

#settings {
  background-color: transparent;
  border: 0;
  color: #515158;
  cursor: pointer;
  font-size: 25px;
  justify-self: start;
  margin-top: 15px;
  padding-left: 15px;
}

#settings:focus {
  outline: none;
}

.timer {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.videoStreams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

/*** Buttons ***/

.btn-green {
  height: 44px;
  width: 119px;
  border-radius: 15px;
  background-color: #47C39E;
  color: white;
  justify-self: center;
  border: none;
}

.btn-sq {
  height: 44px;
  width: 44px;
  border-radius: 5px;
}

#exit {
  background-color: #f75f59;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  justify-self: end;
  margin-top: 15px;
  margin-right: 15px;
  grid-column: 3/4;
}

#exit:focus {
  outline: none;
}

footer {
  background-color: white;
  height: 3vh;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
}
